.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

input {
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1em;
  width: 80%;
  max-width: 400px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #ccc;
  border-style: solid;
  background-color: #fff; 
  transition: border-color 0.3s ease;
}

input::placeholder {
  font-size: 0.9em; 
  color: #aaa; 
}

input:focus {
  outline: none;
  border-color: gray;
}

button {
  margin: 0 auto; 
  display: block;
  padding: 10px 20px;
  font-size: 1em;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #f0f2f5;;
}

.card {
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h2 {
  margin: 0;
  font-size: 1.5em;
}

.card p {
  margin: 5px 0;
}

.navbar {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  padding: 10px;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  background-color: transparent; 
  transition: background-color 0.3s ease, transform 0.3s ease; 

}
.navbar a:hover {
  color: black;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: transparent; 
  border-radius: 10px;
  transform: scale(1.1); 
}

.dashboard-statistics {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.stat-card {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f0f2f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.stat-card h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: gray; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.stat-card p {
  font-size: 2em;
  margin: 0;
}
